<!doctype html>
<html>
<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

	<title><%= current_page.data.title || "Prototyping" %></title>
	<%= stylesheet_link_tag  "normalize", "site" %>
	<%= javascript_include_tag  "app" %>

  <% if current_page.data.description %>
    <meta name="description" content="<%= current_page.data.description %>">
  <% end %>

  <% if current_page.data.keywords %>
    <meta name="keywords" content="<%= current_page.data.keywords %>">
  <% end %>

  <% if build? %>
    <%= partial "javascripts/partials/google-analytics" %>
  <% end %>

</head>

    <body class="<%= page_classes %>">
      <%= yield %>
    </body>

</html>
